
.home-container {
  font-family: 'Arial', sans-serif;
  width: 100%;
  max-width: 100%;
}

.hero-section {
  height: 70vh;
  margin: 5px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}


.hero-text {
  transform: translateY(10%);
  max-width: 500px;
  z-index: 2;
  text-align: center;
}


.hero-text h1 {
  font-size: 2.2em;
  margin-bottom: 20px;
}

.hero-text p {
  margin-bottom: 30px;
}

.sign-up-btn {
  padding: 10px 20px;
  background-color: #8024f1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.sign-up-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 20px rgba(128, 36, 241, 0.5);
}

.global-ranking-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.global-ranking-text {
  flex: 1;
  max-width: 50%;
  padding-right: 2rem; 
}

.global-ranking-text h1 {
  color: #22223b; 
  margin-bottom: 0.5rem;
}

.global-ranking-text p {
  color: #22223b; 
  line-height: 1.6;
}

.global-ranking-table {
  flex: 1;
  max-width: 50%;
}

.global-ranking-table h3 {
  margin-bottom: 1rem;
}

.global-ranking-table table {
  width: 100%;
  border-collapse: collapse;
}

.global-ranking-table th,
.global-ranking-table td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd; 
}


.global-ranking-table th {
  background-color: #e0ccf8;
  color: #333;
}

#place{
  border-top-left-radius: 15px;
}

#score{
  border-top-right-radius: 15px;
}

#crown1 {
  color: #f1c40f;
  margin-right: 5px;
}
#crown2 {
  color: #C0C0C0;
  margin-right: 5px;
}
#crown3 {
  color: #CD7F32;
  margin-right: 5px;
}

#stand-out-words {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  display: grid;
  place-items: center;
  pointer-events: none;
}

#stand-out-words div {
  position: absolute;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.1em;
  pointer-events: auto;
  box-shadow: 0 10px 10px rgb(65, 65, 68, 0.35);
  border: 2px solid rgba(80, 70, 70, 0.18);
}

#stand-out-words div:nth-child(1) {
  transform: rotate(10deg) translate(350px) rotate(-10deg);
  color: #FB60A3;
}

#stand-out-words div:nth-child(2) {
  transform: rotate(-10deg) translate(-350px) rotate(10deg);
  color: #22223b;
}

#stand-out-words div:nth-child(3) {
  transform: rotate(200deg) translate(360px) rotate(-200deg);
  color: #8024f1;
}

#stand-out-words div:nth-child(4) {
  transform: rotate(240deg) translate(220px) rotate(-240deg);
  color: #f59922;
}

#stand-out-words div:nth-child(5) {
  transform: rotate(300deg) translate(220px) rotate(-300deg);
  color: #47d769;
}

#stand-out-words div:nth-child(6) {
  transform: rotate(-20deg) translate(350px) rotate(20deg);
  color: #388df5;
}

@media (max-width: 900px) {
  .hero-text{
    width: 250px;
  }
  .hero-text h1 {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    margin-bottom: 30px;
    font-size: 1em;
  }

  #stand-out-words div:nth-child(1) {
    transform: rotate(50deg) translate(210px) rotate(270deg);
    font-size: 15px;
  }
  #stand-out-words div:nth-child(2) {
    transform: rotate(-50deg) translate(-210px) rotate(100deg);
    font-size: 15px;
  }
  
  #stand-out-words div:nth-child(3) {
    transform: rotate(-180deg) translate(210px) rotate(-270deg);
    font-size: 15px;
  }
  
  #stand-out-words div:nth-child(4) {
    transform: rotate(230deg) translate(210px) rotate(-260deg);
    font-size: 15px;
  }
  
  #stand-out-words div:nth-child(5) {
    transform: rotate(310deg) translate(210px) rotate(-285deg);
    font-size: 15px;
  }
  
  #stand-out-words div:nth-child(6) {
    transform: rotate(0deg) translate(210px) rotate(90deg);
    font-size: 15px;
  }
}