.sidebar-slidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #334756; 
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif; 
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.sidebar-item label {
  font-size: 14px;
  color: #ECECEC; 
  font-weight: 600;
}

.sidebar-item input[type="text"], .sidebar-item select {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #DDD; 
  background-color: #2C3E50; 
  color: #ffffff; 
  outline: none; 
}

.sidebar-item input[type="text"]:focus, .sidebar-item select:focus {
  border-color: #FF9F45; 
  box-shadow: 0 0 8px rgba(255, 159, 69, 0.5);
}


.datepicker-container input {
  display: flex;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #2C3E50;
  color: #fff;
  margin-top: 5px;
  max-width: 93%;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
}


.sidebar-buttons button {
  background-color: #FF9F45; 
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.sidebar-buttons button:hover {
  background-color: #FFB865;
  transform: translateY(-2px); 
}

.description-sidebar {
  max-width: 93%;
}

.title-sidebar{
  max-width: 93%;
}


@media screen and (max-width: 768px) {
  .sidebar-slidebar {
    width: 100%;
    border-radius: 0;
    box-shadow: none; 
  }
}

.cover-image-selection button:hover {
  background-color: #3077B0; 
}
