#navigation-container {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  align-items: center;
  padding: 1px 10px;
  height: fit-content;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

#logo-search-bar{
  display: flex;
  align-items: center;
  gap: 20px;
}
#logo-search-bar img{
  width: 50px;
}

#logo-search-bar input{
  width: 150px;
  height: 10px;
  border-radius: 20px;
  border: 0.2px solid #8024f1;
}

.navigation-menu {
  margin: 10px;
}

.navigation-with-user a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.navigation-without-user a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.navigation-menu {
  background-color: rgb(240, 248, 135);
  border-radius: 15px;
  padding: 8px;
}
#profile-link {
  display: flex;
}
#profile-link span {
  margin-left: 5px;
}
a {
  text-decoration: none;
  color: #22223b;
  margin: 0 10px;
}

.login-register-buttons {
  color: #8024f1;
  border: 2px solid #8024f1;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-register-buttons:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 20px rgba(128, 36, 241, 0.5);
}

.user-options{
  color: #272727;
  border: 1px solid #8024f1;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 20px;
}

#app-name {
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(0deg, #cdabf7 15%, #190237 100%);
  font-family: "Cormorant Upright", serif;
}

#profile-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-link{
    display: flex;
    justify-content: center;
    align-items: center;
}