.register-container {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
}

.role-selection {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.role-button {
    width: 150px;
    height: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none; 
    color: white;
    background-color: #4e79a7; 
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 10px; 
    margin: 0 10px; 
}


.role-button.student {
    background-color: #4e79a7;
}

.role-button.teacher {
    background-color: #59a14f;
}

.role-button:hover {
    transform: translateY(-5px);
    background-color: #3c6382; 
}
