.overlay {
    background: rgba(49, 49, 49, 0.8);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    width: 80%;
    height: 80vh;
    max-width: 1200px;
    overflow-y: auto;
    z-index: 4; 
}


.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    cursor: pointer;
    z-index: 5; 
}

body.active-modal .element-that-needs-to-be-below {
    z-index: 1; 
}
