#header-slider {
  border-radius: 10px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.slider {
  position: relative;
  width: 100%; /* Double the width of the container to accommodate two images side by side */
  height: 100px; /* Adjust height as needed */
  overflow: hidden;
  white-space: nowrap; /* Prevent images from wrapping */
}

.slider img {
  width: 300px; /* Each image takes up 50% of the container's width */
  height: 150px;
  display: inline-block;
  animation: moveImage 6s linear infinite; /* Move each image infinitely */
}

@keyframes moveImage {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
